/* Wofi CSS Style/Color Sheet */

/* TODO: rgba values for colors */

* {{
    font-family: "Fira Sans";
    color: {foreground};
}}

window {{
    background-color: {background};
    border: 2px solid {color6};
    border-radius: 15px;
}}

#input {{
    border: none;
    background-color: {color15};
    margin: 7px;
    box-shadow: none;
}}

#inner-box {{
    background-color: {color2};
    margin: 7px;
    margin-top: 0;
}}

#entry {{
    padding-left: 5px;
    border: none;
    margin-left: -5px;
    margin-right: -5px;
    outline: none;
}}

#entry:selected {{
    background-color: {color5};
}}

#text {{
    margin: 2px;
}}
