/* Wofi CSS Style/Color Sheet */

* {
  font-family: "Iosevka SS12 Extended", monospace;
  border: none;
}

#window {
  background-color: rgb(33, 37, 43);
}

#input {
  color: rgb(171, 178, 191);
  background-color: rgb(92, 99, 112);
  margin: 0.8em;
  font-size: 1.2em;
}

#scroll {
  padding-left: 0.5em;
}

#entry {
  color: rgb(171, 178, 191);
  font-weight: bold;
  font-style: italic;
}

#entry:selected {
  padding-left: 1em;
  background-color: rgb(57, 63, 74);
}

#entry image + label {
  margin-left: 1em;
}

#entry expander list {
  border-radius: 1em;
  background-color: rgb(57, 63, 74);
}
