/* Wofi CSS Style/Color Sheet */

* {
    font-family: "Fira Sans", monospace;
    color: --wofi-color15;
}

window {
    background-color: alpha(--wofi-color11, 0.6);
    border: none;
    border-radius: 15px;
}

#input {
    background-color: alpha(--wofi-color14, 0.4);
    border-radius: 15px;
    box-shadow: none;
    margin: 0.8em;
}

#entry {
    padding-left: 0.5em;
    border: none;
    border-radius: 15px;
}

#entry:selected {
    background-color: alpha(--wofi-color14, 0.4);
    padding-left: 1em;
}

#text {
    margin: 2px;
}

#text:selected {
    font-weight: bold;
}
